a {
    cursor: url("../mouse/Hand.ico"),auto;
}
div{
    animation: animate 10s infinite;
}
.text{
    cursor: url("../mouse/text.ico"),auto;
    font-family: ysbth;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*主页面*/
.maind{
    margin-top: -20px;
    max-width: 1250px;
    max-height: 860px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
}
.wrapper {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
text{
    font-family: ysbth;
}
@keyframes animate{
    0%{
        cursor: url('../mouse/cartoon/pointer-F60-32x32x32.png'), auto;
    }
    1.67%{
        cursor: url('../mouse/cartoon/pointer-F1-32x32x32.png'), auto;
    }
    3.33%{
        cursor: url('../mouse/cartoon/pointer-F2-32x32x32.png'), auto;
    }
    5%{
        cursor: url('../mouse/cartoon/pointer-F3-32x32x32.png'), auto;
    }
    6.67%{
        cursor: url('../mouse/cartoon/pointer-F4-32x32x32.png'), auto;
    }
    8.34%{
        cursor: url('../mouse/cartoon/pointer-F5-32x32x32.png'), auto;
    }
    10%{
        cursor: url('../mouse/cartoon/pointer-F6-32x32x32.png'), auto;
    }
    11.67%{
        cursor: url('../mouse/cartoon/pointer-F7-32x32x32.png'), auto;
    }
    13.33%{
        cursor: url('../mouse/cartoon/pointer-F8-32x32x32.png'), auto;
    }
    15%{
        cursor: url('../mouse/cartoon/pointer-F9-32x32x32.png'), auto;
    }
    16.67%{
        cursor: url('../mouse/cartoon/pointer-F10-32x32x32.png'), auto;
    }
    18.33%{
        cursor: url('../mouse/cartoon/pointer-F11-32x32x32.png'), auto;
    }
    20%{
        cursor: url('../mouse/cartoon/pointer-F12-32x32x32.png'), auto;
    }
    21%{
        cursor: url('../mouse/cartoon/pointer-F13-32x32x32.png'), auto;
    }
    23.33%{
        cursor: url('../mouse/cartoon/pointer-F14-32x32x32.png'), auto;
    }
    25%{
        cursor: url('../mouse/cartoon/pointer-F15-32x32x32.png'), auto;
    }
    26.67%{
        cursor: url('../mouse/cartoon/pointer-F16-32x32x32.png'), auto;
    }
    28.33%{
        cursor: url('../mouse/cartoon/pointer-F1-32x32x32.png'), auto;
    }
    30%{
        cursor: url('../mouse/cartoon/pointer-F18-32x32x32.png'), auto;
    }
    31.67%{
        cursor: url('../mouse/cartoon/pointer-F19-32x32x32.png'), auto;
    }
    33.33%{
        cursor: url('../mouse/cartoon/pointer-F20-32x32x32.png'), auto;
    }
    35%{
        cursor: url('../mouse/cartoon/pointer-F21-32x32x32.png'), auto;
    }
    36.67%{
        cursor: url('../mouse/cartoon/pointer-F22-32x32x32.png'), auto;
    }
    38.33%{
        cursor: url('../mouse/cartoon/pointer-F23-32x32x32.png'), auto;
    }
    40%{
        cursor: url('../mouse/cartoon/pointer-F24-32x32x32.png'), auto;
    }
    41.67%{
        cursor: url('../mouse/cartoon/pointer-F25-32x32x32.png'), auto;
    }
    43.33%{
        cursor: url('../mouse/cartoon/pointer-F26-32x32x32.png'), auto;
    }
    28.33%{
        cursor: url('../mouse/cartoon/pointer-F27-32x32x32.png'), auto;
    }
    45%{
        cursor: url('../mouse/cartoon/pointer-F28-32x32x32.png'), auto;
    }
    46.67%{
        cursor: url('../mouse/cartoon/pointer-F29-32x32x32.png'), auto;
    }
    48.33%{
        cursor: url('../mouse/cartoon/pointer-F30-32x32x32.png'), auto;
    }
    50%{
        cursor: url('../mouse/cartoon/pointer-F31-32x32x32.png'), auto;
    }
    51.67%{
        cursor: url('../mouse/cartoon/pointer-F32-32x32x32.png'), auto;
    }
    53.33%{
        cursor: url('../mouse/cartoon/pointer-F33-32x32x32.png'), auto;
    }
    55%{
        cursor: url('../mouse/cartoon/pointer-F34-32x32x32.png'), auto;
    }
    56.67%{
        cursor: url('../mouse/cartoon/pointer-F35-32x32x32.png'), auto;
    }
    58.33%{
        cursor: url('../mouse/cartoon/pointer-F36-32x32x32.png'), auto;
    }
    60%{
        cursor: url('../mouse/cartoon/pointer-F37-32x32x32.png'), auto;
    }
    61.67%{
        cursor: url('../mouse/cartoon/pointer-F38-32x32x32.png'), auto;
    }
    63.33%{
        cursor: url('../mouse/cartoon/pointer-F39-32x32x32.png'), auto;
    }
    65%{
        cursor: url('../mouse/cartoon/pointer-F40-32x32x32.png'), auto;
    }
    66.67%{
        cursor: url('../mouse/cartoon/pointer-F41-32x32x32.png'), auto;
    }
    68.33%{
        cursor: url('../mouse/cartoon/pointer-F42-32x32x32.png'), auto;
    }
    70%{
        cursor: url('../mouse/cartoon/pointer-F43-32x32x32.png'), auto;
    }
    71.67%{
        cursor: url('../mouse/cartoon/pointer-F44-32x32x32.png'), auto;
    }
    73.33%{
        cursor: url('../mouse/cartoon/pointer-F45-32x32x32.png'), auto;
    }
    75%{
        cursor: url('../mouse/cartoon/pointer-F46-32x32x32.png'), auto;
    }
    76.67%{
        cursor: url('../mouse/cartoon/pointer-F47-32x32x32.png'), auto;
    }
    78.33%{
        cursor: url('../mouse/cartoon/pointer-F48-32x32x32.png'), auto;
    }
    80%{
        cursor: url('../mouse/cartoon/pointer-F49-32x32x32.png'), auto;
    }
    81.67%{
        cursor: url('../mouse/cartoon/pointer-F50-32x32x32.png'), auto;
    }
    83.33%{
        cursor: url('../mouse/cartoon/pointer-F51-32x32x32.png'), auto;
    }
    85%{
        cursor: url('../mouse/cartoon/pointer-F52-32x32x32.png'), auto;
    }
    86.67%{
        cursor: url('../mouse/cartoon/pointer-F53-32x32x32.png'), auto;
    }
    88.33%{
        cursor: url('../mouse/cartoon/pointer-F54-32x32x32.png'), auto;
    }
    90%{
        cursor: url('../mouse/cartoon/pointer-F55-32x32x32.png'), auto;
    }
    91.67%{
        cursor: url('../mouse/cartoon/pointer-F56-32x32x32.png'), auto;
    }
    93.33%{
        cursor: url('../mouse/cartoon/pointer-F57-32x32x32.png'), auto;
    }
    95%{
        cursor: url('../mouse/cartoon/pointer-F58-32x32x32.png'), auto;
    }
    96.67%{
        cursor: url('../mouse/cartoon/pointer-F59-32x32x32.png'), auto;
    }
    98.33%{
        cursor: url('../mouse/cartoon/pointer-F60-32x32x32.png'), auto;
    }
    100%{
        cursor: url('../mouse/cartoon/pointer-F60-32x32x32.png'), auto;
    }
}